<hr><h4>Hinterlasse einen Kommentar</h4>
<form method="POST" action="https://api.staticman.net/v2/entry/werner-matthias/SysOp/master">
  <input name="options[redirect]" type="hidden" value="sysop.matthias-werner.net">
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <label><i>Name</i><input name="fields[name]" type="text"></label>
  <label><i>E-mail</i><input name="fields[email]" type="email"></label>
  <label><i>Kommentar</i><textarea rows="8" name="fields[message]"></textarea></label>
  
  <button type="submit">Senden</button>
</form>